*.o
temp/Makefile_test/tags
temp/memsize_of_point_test
temp/multithreads_gdb
temp/tab_test
test/automake_test
test/extern_test
test/Makefile_test
test/memsize_of_point_test
test/multithreads_gdb
test/point_test
test/pthread_to_cpu
test/sock_test
test/struct_test
test/tab_test
test/test
test/Makefile_test/Makefile_test
test/affinity_test
test/automake_test/src/automakeTest
test/memsize_of_point_test
test/multithreads_gdb
test/point_test
test/pthread_to_cpu
test/sock_test
test/struct_test
test/tab_test
test/test
test/ByteAlignmentTest/byte_alinment_test
